.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 18px;
  margin: 16px 0 24px;
  background: #f3f4f6;
  margin-left: auto; /* Ajuste de margens */
  margin-right: auto;
  /* 🔥 ESSENCIAL */
  aspect-ratio: 16 / 9;
}

.carousel-track {
  display: flex;
  height: 100%;
  will-change: transform;
}

.carousel-slide {
  min-width: 100%;
  height: 100%;
  user-select: none;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* BOTÕES */
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.55);
  color: #fff;
  border: none;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 22px;
  z-index: 5;
}

.carousel-btn.prev {
  left: 14px;
}

.carousel-btn.next {
  right: 14px;
}

@media (max-width: 661px) {
  .carousel-btn {
    display: none;
  }
}
